activemq-data/
.idea/
*.iml
*.ipr
*.iws
.metadata/
.recommenders/
.classpath
.project
.cache
.settings/
.checkstyle
.gradle/
build/
deploy/
target/
mods/
*.swp
epom
log
node_modules
coverage
npm-debug.log
.DS_Store
phantomjsdriver.log
/db_scripts/initial/dump_local.sql

generated-sources/

/state/
jest*
